export MONO_HOME=/Library/Frameworks/Mono.framework/Versions/Current
export MONO_OPTIONS=--runtime=v4.0
export ANDROID_HOME=$(brew --prefix android-sdk)
export NINE_OLD_ANDROIDS_HOME=`pwd`
export PATH=$NINE_OLD_ANDROIDS_HOME/tools:$PATH
